
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #8BBAD6;
}

body {
    --color1: #222222;
    --color2: #2D2D2D;
    --color3: #3B3B3B;

    --color-font1: #DBDEE1;
    --color-font2: #949BA4;
    --color-font3: #008F11;

    background-color: var(--color1);

    font-size: 16px;
    font-family: "Courier Prime", serif;
    display:flex;
}

body, html, main{
    padding: 0;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

#sidebar {
    padding: 60px 16px 16px 16px;
    flex-basis: calc(min(300px, max(200px, 15%)));
}

#content-parent{
    flex-grow: 1;
    justify-content: left;
    height: 100%;

    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}

#content {
    max-width: calc(min(100%,1000px));
    width: 100%;
    white-space: nowrap;
    display: inline-block;
}


/* Styles for screen widths less than 600px */
@media (max-width: 599px) {
    #sidebar {
        flex-basis: 100%;
        padding: 16px;
    }

    #content-parent {
        height: auto;
        flex-grow: 0;
        flex-basis: 100%;
    }

    body {
        flex-direction: column;
    }
}


#sidebar ul {
    list-style-type: none;
    padding: 0px 16px 0px 8px;
    line-height: 1.75;
}

#sidebar li {
    padding: 4px 16px 2px;
    font-size: 1.0rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

#sidebar li a {
    color: var(--color-font2);
    display: block;
    width: 100%;
}

#sidebar li:hover {
    background-color: #303030;
}

#sidebar .header {
    color: var(--color-font3);
    font-size: 1.1rem;
    pointer-events: none;
}

#sidebar hr {
    border: 1px var(--color2) solid;
}

/* Table Striping, with overriding for the Table Header */

#content .stripes tr:nth-child(odd):not(.table-header) {
    background-color: var(--color1);
}

#content .stripes tr:nth-child(even):not(.table-header) {
    background-color: var(--color2);
}

#content .stripes th {
    background-color: black;
}

/* Tables that have hoverable table rows */

#content .hoverable tr:nth-child(odd):hover:not(.table-header) {
    background-color: #323232;
}

#content .hoverable tr:nth-child(even):hover:not(.table-header) {
    background-color: #323232;
}

#content .hoverable tr:hover{
    background-color: var(--color1);
}

/* Tables that are too long can wrap words */

#content .wrappable td {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

/* Things which enable a Cursor Pointer event */

#content .cursor {
    cursor: pointer;
}

/* Table Headers in General */

#content .table-header th:first-child {
    border-top-left-radius: 12px;
}

#content .table-header th:last-child {
    border-top-right-radius: 12px;
}

#content .table-header th {
    color: var(--color-font3);
    font-weight: 400;
    background-color: #171717;
}

/* Table Spacer for chaining Tables as a hack */

#content .table-spacer th {
    background-color: var(--color1);
    height: 1rem;
}

/* Generic Table CSS for all Tables */

#content table {
    line-height: 96%;
    border-collapse: collapse;
}

#content td {
    color: var(--color-font2);
    border-bottom: 1px #444444 solid;
}

#content th, #content td {
    padding: 10px 12px 6px 12px;
}

#content .anchorbutton {
    border-radius: 4px;
    padding: 8px 8px 6px;
    border-color: transparent;
    color: var(--color-font1);
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: "Courier Prime", serif;
    cursor: pointer;
}

#content .btn-blue {
    background-color: #1C2D40;
}

#content .btn-start {
    background-color: #384A5F;
    width: 100%;
}

#content .btn-preset {
    background-color: #046c52;
}

#content .btn-yellow {
    background-color: #7A4E09;
}

#content .btn-red {
    background-color: #74261E;
}

#content .btn-disabled {
    background-color: var(--color3);
}

#content .btn-blue:hover {
    background-color: #2E3F57;
}

#content .btn-start:hover {
    background-color: #2E3F57;
}

#content .btn-preset:hover {
    background-color: #11a983;
}

#content .btn-yellow:hover {
    background-color: #9B6B0F;
}

#content .btn-red:hover {
    background-color: #8E3D28;
}

#content .btn-disabled:hover {
    background-color: var(--color3);
    cursor: not-allowed;
    transform: none;
}

#content .copy-button {
    color: var(--color-font2);
    transition: color 0.2s ease-in-out;

}

#content .copy-button:hover {
    color: var(--color-font3);
    cursor: pointer;
}

/* Short StatBlock to show SPRT and Test Results */

#content .statblock {
    font-size: 13px;
    color: black;
    line-height: 96%;
    background-color: #CCCCCC;
    font-family: "Courier New";
    border-radius: 4px;
    padding: 9px 10px 6px;
}

#content .statblock-green {
    background-color: #76D576;
}

#content .statblock-blue {
    background-color: #60F0FF;
}

#content .statblock-yellow {
    background-color: #EFF891;
}

#content .statblock-red {
    background-color: #FA9696;
}

#content .redlink {
    color: #FF4D4D;
}

/* Long StatBlock which we can copy */

#content .long-statblock {
    background-color: var(--color3);
    color: var(--color-font2);
    border-radius: 4px;
    padding: 0.50rem 0.75rem;
}

/* Test Views */

#content #config {
    float: left;
}

#content #actions {
    float: left;
}

#content #results {
    display: inline-block;
    width: inherit;
}

#content .test-config {
    font-size: 1.0rem;
}

#content .test-config .td-label {
    color: var(--color-font1);
}

/* ??? */

td pre {
    margin: 0px;
    padding: 0px;
}

#content .error-message {
    color: red;
}

#content .warning-message {
    color: yellow;
}

#content .status-message {
    color: green;
}

#content .site-title {
    color: var(--color-font3);
}

#content .default-network {
    color: var(--color-font3);
}

#content .non-default-network {
    color: var(--color-font1);
    transform: scale(0.75);
}