body {
    font-family: "Courier New";
    font-size: 16px;
    background: #2A2A2A;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

#sidebar {
    float: left;
    margin: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar li a {
    font-size: 18px;
    color: #A2A2A2;
}

#sidebar .header {
    font-weight: bold;
    color: #008888;
}

#content {
    float: left;
    padding: 20px 0px;
    color: #EAEAEA;
}

#content label {
    width: 180px;
    font-weight:bold;
    display: inline-block;
}

#content input, #content select {
    background-color: #BBBBBB;
    padding: 8px;
    margin: 2px 0px;
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#content button {
    padding: 8px 0px;
    margin: 2px 0px;
    display: inline-block;
    vertical-align: middle;
    width: 290px;
    background-color: #A7D691;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#content button:hover {
    background-color: #6AC63F;
}

#content input[type=submit] {
    background-color: #15A049;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

#content input[type=submit]:hover {
    background-color: #4CAF50;
}

#content input:read-only {
    font-weight: bold;
}

#content input:-moz-read-only {
    font-weight: bold;
}

#content #configuration {
    float: left;
    margin-top: 20px;
}

#content .rawtable td {
    padding-right: 20px;
}

#content .rawtable th {
    padding-right: 20px;
    text-align: left;
}

#content .rawtable .numeric {
    text-align: right;
}

#content #actions {
    float: left;
}

#content #actions .anchorbutton {
    color: black;
    padding: 8px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 20%;
}

#content #actions #approvebutton {
    background-color: #9DF779;
}

#content #actions #stopbutton {
    background-color: #EEF788;
}

#content #actions #restartbutton {
    background-color: #EEF788;
}

#content #actions #deletebutton {
    background-color: #FA8E8E;
}

#content #actions input {
    width: 240px;
}

#content #actions input[type=submit] {
    width: 100%;
}

#content .datatable th {
    color: #EAEAEA;
    font-size: 20px;
    padding: 6px 12px;
    background-color: #15A049;
}

#content .datatable td {
    padding: 6px 12px;
}

#content .datatable .numeric {
    text-align: right;
}

#content .datatable tr {
    background-color: #212121;
}

#content .datatable .embedded {
    border: none;
    text-align: left;
    padding-left: 0px;
    background: #2A2A2A;
}

#content .datatable .embedded h2 {
    margin: 16px 0px 0px 0px;
    pading: 0px;
    color: #FFFFFF;
}

#content .datatable .statblock {
    line-height: 70%;
    color: black;
    background-color: #AAAAAA;
}

#content .datatable .green {
    background-color: #9DF779
}

#content .datatable .yellow {
    background-color: #EEF788
}

#content .datatable .red {
    background-color: #FA8E8E
}

#content #results {
    display: inline-block;
    margin-top: 50px;
    width: inherit;
}

#content table {
    line-height: 96%;
}

#content .textcenter {
    text-align: center;
}

#content strong {
    font-size: 14px;
}

#content a {
    font-weight: bold;
}

#content #pagebrowse {
    text-align: center;
    margin-top: 16px;
}

#content .page {
    border: none;
    text-align: center;
    display: inline-block;
    padding: 8px 0px;
    width: 5%;
    background-color: #424242;
}

#content .page:hover {
    background-color: #888888;
}

#error {
    background-color: #ED7676;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}