*.pyc
Client/*

credentials
credentials.*
db.sqlite3

Scripts/Engines/*
Scripts/Networks/*

Media/*

!Client/*.py
!Client/cutechess-ob
!Client/cutechess-ob.exe

Media/PGNs/*
Media/Networks/*
Media/Events/*

*.lock
*.epd