<!DOCTYPE html>

<html lang="en">

    {% load static %}

    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" type="image/svg+xml" href="{% static 'logo.svg' %}">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css ' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,100&amp;display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

        <title>OpenBench</title>
        <script>
            {% block scripts %}
            {% endblock %}

            document.addEventListener('DOMContentLoaded', function() {

                var timestamps = document.getElementsByClassName('timestamp');

                var options = {
                    year   : 'numeric', month  : '2-digit',
                    day    : '2-digit', hour   : '2-digit',
                    minute : '2-digit', second : '2-digit',
                    hour12 : false,
                };

                for (var i = 0; i < timestamps.length; i++) {
                    var date = new Date(1000 * timestamps[i].innerHTML);
                    timestamps[i].innerHTML = date.toLocaleString(undefined, options);
                }

            }, false);
        </script>
    </head>

    <body>

        <!-- Views may return an error message -->
        {% if error %}
            <div id="error">
                <pre>{{error}}</pre>
            </div>
        {% endif %}

        <div id="sidebar">

            <ul>
                <li class="header">Admin</li>
                {% if user.is_authenticated %}
                    <li><a href="/logout/">Logout</a></li>
                    <li><a href="/profile/">Profile</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>

            <ul>
                <li class="header">Tests</li>
                <li><a href="/index">Index</a></li>
                <li><a href="/greens">Greens</a></li>
                <li><a href="/search">Search</a></li>
            </ul>

            <ul>
                <li class="header">Actions</li>
                <li><a href="/newTest">Create Test</a></li>
                <li><a href="/networks/upload">Upload Net</a></li>
            </ul>

            <ul>
                <li class="header">Info</li>
                <li><a href="/users">Users</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/machines">Machines</a></li>
                <li><a href="/networks">Networks</a></li>
            </ul>

            <ul>
                <li class="header">Support</li>
                <li><a href="{{config.framework}}">OpenBench</a></li>
                <li><a href="https://discord.gg/9MVg7fBTpM">Discord</a></li>
            </ul>

            <ul>
                <li class="header">Engines</li>
                {% for engine, data in config.engines.items|dictsort:"0.lower" %}
                    <li><a href="{{data.source}}">{{engine}}</a></li>
                {% endfor %}
            </ul>

        </div>

        <div id="content">
            <h2> <a class="TitleLink" href="/">OpenBench Testing Framework</a></h2>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
