{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table class="hoverable">

        <tr class="table-header">
            <th>Date</th>
            <th>#</th>
            <th>User</th>
            <th>Test</th>
            <th>Summary</th>
            <th>Logs</th>
        </tr>

        {% for event in events %}
            <tr>
                <td class="timestamp">{{event.created|date:'U'}}</td>
                <td><a href="/machines/{{event.machine_id}}">{{event.machine_id}}</a></td>
                <td>{{event.author|capfirst}}</td>
                <td><a href="{{event.test_id|workload_url}}">{{event.test_id|testIdToPrettyName}}</a></td>
                <td>{{event.summary}}</td>
                <td>{% if event.log_file %}<a href='/event/{{event.id}}'>View</a>{% endif %}</td>
            </tr>
        {% endfor %}

    <table>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
