{% extends "OpenBench/base.html" %}

{% block content %}

    <table>

        <tr>
            <th>DATE</th>
            <th>USER</th>
            <th>TEST</th>
            <th>TIME</th>
            <th>ACTION</th>
        </tr>

        {% for event in events %}
            <tr>
                <td>{{event.creation|date:'Y-m-d H:i:s'}}</td>
                <td>{{event.author}}</td>
                <td><a href="/test/{{event.test.id}}">{{event.test.dev.name}}</a></td>
                <td>{{event.test.timecontrol}}</td>
                <td>{{event.data}}</td>
            </tr>
        {% endfor %}

    <table>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
