{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table>

        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Test</th>
            <th>Time</th>
            <th>Action</th>
        </tr>

        {% for event in events %}
            <tr>
                <td class="timestamp">{{event.creation|date:'U'}}</td>
                <td>{{event.author|capfirst}}</td>
                <td><a href="/test/{{event.test.id}}">{{event.test.dev.name|prettyName}}</a></td>
                <td>{{event.test.timecontrol}}</td>
                <td>{{event.data}}</td>
            </tr>
        {% endfor %}

    <table>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
