{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block title %}
Index
{% endblock %}

{% block content %}
<h2>Pending</h2>
<table>
    <tr>
    {% for test in pending %}
    <tr class="{{test.status}}">
        <td><a href="/viewUser/{{test.author}}">{{test.author}}</a></td>
        <td style="text-align:left"><a href="/viewTest/{{test.id}}">{{test.dev.name}}</a></td>
        <td style="text-align"><a href="{{test|gitDiffLink}}">diff</a></td>
        <td style="text-align:left;font-size:14px"><strong>
            SPRT @ {{test.timecontrol}}s Threads={{test.threads}} Hash={{test.hashsize}}MB<br>
            LLR: {{test.currentllr|twoDigitPrecision}} ({{test.lowerllr|twoDigitPrecision}},
            {{test.upperllr|twoDigitPrecision}}) [{{test.elolower|twoDigitPrecision}},
            {{test.eloupper|twoDigitPrecision}}] <br> Games: {{test.games}}
            W: {{test.wins}} L: {{test.losses}} D: {{test.draws}}
        </strong></td>
        <td><a href="/approveTest/{{test.id}}">approve</td>
    </tr>
    {% endfor %}
</table>

<h2>Active</h2>
<table>
    {% for test in active %}
    <tr class="{{test.status}}">
        <td><a href="/viewUser/{{test.author}}">{{test.author}}</a></td>
        <td style="text-align:left"><a href="/viewTest/{{test.id}}">{{test.dev.name}}</a></td>
        <td style="text-align:left"><a href="{{test|gitDiffLink}}">diff</a></td>
        <td style="text-align:left;font-size:14px"><strong>
            SPRT @ {{test.timecontrol}}s Threads={{test.threads}} Hash={{test.hashsize}}MB<br>
            LLR: {{test.currentllr|twoDigitPrecision}} ({{test.lowerllr|twoDigitPrecision}},
            {{test.upperllr|twoDigitPrecision}}) [{{test.elolower|twoDigitPrecision}},
            {{test.eloupper|twoDigitPrecision}}] <br> Games: {{test.games}}
            W: {{test.wins}} L: {{test.losses}} D: {{test.draws}}
        </strong></td>
    </tr>
    {% endfor %}
<table>

<h2>Finished</h2>
<table>
    {% for test in completed %}
    <tr class="{{test.status}}">
        <td><a href="/viewUser/{{test.author}}">{{test.author}}</a></td>
        <td style="text-align:left"><a href="/viewTest/{{test.id}}">{{test.dev.name}}</a></td>
        <td style="text-align:left"><a href="{{test|gitDiffLink}}">diff</a></td>
        <td style="text-align:left;font-size:14px"><strong>
            SPRT @ {{test.timecontrol}}s Threads={{test.threads}} Hash={{test.hashsize}}MB<br>
            LLR: {{test.currentllr|twoDigitPrecision}} ({{test.lowerllr|twoDigitPrecision}},
            {{test.upperllr|twoDigitPrecision}}) [{{test.elolower|twoDigitPrecision}},
            {{test.eloupper|twoDigitPrecision}}] <br> Games: {{test.games}}
            W: {{test.wins}} L: {{test.losses}} D: {{test.draws}}
        </strong></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}