{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block title %}
Index
{% endblock %}


{% block content %}
<h2>Pending</h2>
<table>
    <tr>
    {% for test in pending %}
    <tr class={{test.status}}>
        <td style="text-align:left;font-weight:bold">
            <a href="/viewTest/{{test.id}}">{{test.dev.name}}</a>
        </td>
        <td style="text-align:left;font-weight:bold">
            <a href="{{test|gitDiffLink}}">diff</a>
        </td>
        <td><a href="/approveTest/{{test.id}}">approve</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Approved</h2>
<table>
    {% for test in active %}
    <tr class={{test.status}}>
        <td style="text-align:left;font-weight:bold">
            <a href="/viewTest/{{test.id}}">{{test.dev.name}}</a>
        </td>
        <td style="text-align:left;font-weight:bold">
            <a href="{{test|gitDiffLink}}">diff</a>
        </td>
        <td style="text-align:left;font-size:14px"><strong>
            SPRT @ {{test.timecontrol}}s Threads={{test.threads}} Hash={{test.hashsize}}MB<br>
            LLR: {{test.currentllr|twoDigitPrecision}} ({{test.lowerllr|twoDigitPrecision}},
            {{test.upperllr|twoDigitPrecision}}) [{{test.elolower|twoDigitPrecision}},
            {{test.eloupper|twoDigitPrecision}}] <br> Games: {{test.games}}
            W: {{test.wins}} L: {{test.losses}} D: {{test.draws}}
        </strong></td>
    </tr>
    {% endfor %}

    {% for test in completed %}
    <tr class={{test.status}}>
        <td style="text-align:left;font-weight:bold">
            <a href="/viewTest/{{test.id}}">{{test.dev.name}}</a>
        </td>
        <td style="text-align:left;font-weight:bold">
            <a href="{{test|gitDiffLink}}">diff</a>
        </td>
        <td style="text-align:left;font-size:14px"><strong>
            SPRT @ {{test.timecontrol}}s Threads={{test.threads}} Hash={{test.hashsize}}MB<br>
            LLR: {{test.currentllr|twoDigitPrecision}} ({{test.lowerllr|twoDigitPrecision}},
            {{test.upperllr|twoDigitPrecision}}) [{{test.elolower|twoDigitPrecision}},
            {{test.eloupper|twoDigitPrecision}}] <br> Games: {{test.games}}
            W: {{test.wins}} L: {{test.losses}} D: {{test.draws}}
        </strong></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}