{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<table class="datatable">
    <tr>
        <th>User</th>
        <th>System</th>
        <th>Updated</th>
        <th>Threads</th>
        <th>MNPS</th>
    </tr>
    {% for machine in machines %}
    <tr>
        <td>{{machine.owner}}</th>
        <td>{{machine.osname}}</th>
        <td>{{machine.updated|date:'Y-m-d H:i'}}</th>
        <td class="numeric">{{machine.threads}}</th>
        <td class="numeric">{{machine.mnps|twoDigitPrecision}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock %}