{% extends "OpenBench/base.html" %}

{% load static %}

{% block scripts %}

    {{ networks|json_script:"json-networks" }}

    <script src="{% static 'networks.js' %}?{{ static_version }}"></script>

    <script>
        document.addEventListener(
            'DOMContentLoaded', function () {
                sort_networks(['default', 'engine', 'name']);
            }, false
        );
    </script>

{% endblock %}

{% block content %}

    <table id="network-table" class="hoverable">

        <tr class="table-header">
            <th class="cursor" onclick="sort_networks(['default'])"></th>
            <th class="cursor" onclick="sort_networks(['engine'])">Engine</th>
            <th class="cursor" onclick="sort_networks(['author'])">Author</th>
            <th class="cursor" onclick="sort_networks(['name'])">Name</th>
            <th class="cursor" onclick="sort_networks(['sha256'])")>Hash</th>
            <th></th>
            <th></th>
        </tr>

        {% for network in networks %}
            <tr>
                {% if network.default %}
                    <td><i class="fas fa-star default-network" aria-hidden="true"></i></td>
                {% elif network.was_default %}
                    <td><a href="/networks/{{network.engine}}/DEFAULT/{{network.sha256}}">
                    <i class="fas fa-star was-default-network" aria-hidden="true"></i></a></td>
                {% else %}
                    <td><a href="/networks/{{network.engine}}/DEFAULT/{{network.sha256}}">
                    <i class="far fa-star non-default-network" aria-hidden="true"></i></a></td>
                {% endif %}

                <td><a href="/networks/{{network.engine}}/">{{network.engine}}</a></td>
                <td>{{network.author|capfirst}}</td>
                <td><a href="/networks/{{network.engine}}/DOWNLOAD/{{network.sha256}}">{{network.name}}</a></td>
                <td>{{network.sha256}}</td>

                <td>
                    <a href="/networks/{{network.engine}}/EDIT/{{network.sha256}}">
                        <i class="fa-solid fa-pen-to-square" style="color: grey;"></i>
                    </a>
                </td>

                <td>
                    {% if not network.default and not network.was_default %}
                        <a onclick="return confirm('YOU ARE DELETING THIS NETWORK FILE FOREVER')"
                            href="/networks/{{network.engine}}/DELETE/{{network.sha256}}">
                        <i class="fa-solid fa-trash-can" style="color: #A03030;"></i></a>
                    {% else %}
                        <a onclick="return alert('You must unset the default and previous-default flags manually before deleting')"
                            href="/networks/{{network.engine}}/EDIT/{{network.sha256}}">
                        <i class="fa-solid fa-trash-can" style="color: grey;"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
