{% extends "OpenBench/base.html" %}

{% block content %}

    <table>

        <tr>
            <th>Engine</th>
            <th>Uploader</th>
            <th>Name</th>
            <th>Hash</th>
            <th>Downloads</th>
        </tr>

        {% for network in networks %}
            <tr>
                <td>{{network.engine}}</td>
                <td><a href="/user/{{network.author}}">{{network.author}}</a></td>
                <td>{{network.name}}</td>
                <td>{{network.sha256}}</td>
                <td style="text-align: right">{{network.downloads}}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
