{% extends "OpenBench/base.html" %}

{% load static %}

{% block content %}

    <form method="POST" action="/networks/{{network.engine}}/EDIT/{{network.sha256}}/">
        {% csrf_token %}
        <div class="form">
            <div class="col">

                <div class="row">
                    <label for="hash"> Hash </label>
                    <input id="hash" readonly value="{{network.sha256}}">
                </div>

                <div class="row">
                    <label for="engine"> Engine </label>
                    <input id="engine" readonly value="{{network.engine}}">
                </div>

                <div class="row">
                    <label for="author"> Author </label>
                    <input id="author" readonly value="{{network.author}}">
                </div>

                <div class="row">
                    <label for="created"> Created </label>
                    <input id="created" readonly value="{{network.created}}">
                </div>

                <div class="row">
                    <label for="name"> Name </label>
                    <input id="name" name="name" value="{{network.name}}">
                </div>

                <div class="row">
                    <label for="default"> Default </label>
                    <select id="default" name="default">
                        {% if network.default %}
                            <option selected value="TRUE"> True </option>
                            <option value="FALSE"> False </option>
                        {% else %}
                            <option value="TRUE"> True </option>
                            <option selected value="FALSE"> False </option>
                        {% endif %}
                    <select>
                </div>

                <div class="row">
                    <label for="was_default"> Was Default </label>
                    <select id="was_default" name="was_default">
                        {% if network.was_default %}
                            <option selected value="TRUE"> True </option>
                            <option value="FALSE"> False </option>
                        {% else %}
                            <option value="TRUE"> True </option>
                            <option selected value="FALSE"> False </option>
                        {% endif %}
                    <select>
                </div>

                <input class="anchorbutton btn-blue w-100" type="submit" value="Update Network">
            </div>
        </div>
    </form>

{% endblock %}
