{% extends "OpenBench/base.html" %}

{% block style %}
{% endblock %}

{% block content %}

    <table>

        <tr>
            <th></th>
            <th>Engine</th>
            <th>Uploader</th>
            <th>Name</th>
            <th>Hash</th>
            <th></th>
        </tr>

        {% for network in networks %}
            <tr>

                {% if network.default %}
                    <td><i class="fas fa-star" aria-hidden="true"></i></td>
                {% else %}
                    <td><a class="unstarred" href="/networks/default/{{network.sha256}}">
                    <i class="far fa-star" aria-hidden="true"></i></a></td>
                {% endif %}

                <td>{{network.engine}}</td>
                <td><a href="/user/{{network.author}}">{{network.author|capfirst}}</a></td>
                <td><a href="/networks/download/{{network.sha256}}">{{network.name}}</a></td>
                <td>{{network.sha256}}</td>

                <td><a class="redlink" onclick="return confirm('YOU ARE DELETING THIS NETWORK FILE FOREVER')" href="/networks/delete/{{network.sha256}}">
                <i class="fas fa-minus-circle"></i></a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
