{% extends "OpenBench/base.html" %}

{% block content %}
<form method="POST" action="/newTest/">
    {% csrf_token %}
    <div>
        <label> Dev Branch </label>
        <input name="devbranch" autofocus>
        </br>
        <label> Dev Bench </label>
        <input name="devbench">
        </br>
        <label> Dev Options </label>
        <input value="Threads={{config.threads}} Hash={{config.hash}}" name="devoptions">
        </br>
        <label> Dev Protocol </label>
        <input value="{{config.protocol}}" name="devprotocol">
        </br>
        <label> Base Branch </label>
        <input value="master" name="basebranch">
        </br>
        <label> Base Bench </label>
        <input name="basebench">
        </br>
        <label> Base Options </label>
        <input value="Threads={{config.threads}} Hash={{config.hash}}" name="baseoptions">
        </br>
        <label> Base Protocol </label>
        <input value="{{config.protocol}}" name="baseprotocol">
        </br>
        <label> Source </label>
        <input value="{{profile.repo}}" name="source">
        </br>
        <label> Opening Book </label>
        <select name="bookname">
        {% for name, data in config.books.items %}
            {% if data.default %}
                <option selected value="{{name}}">{{data.name}}</option>
            {% else %}
                <option value="{{name}}">{{data.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
        </br>
        <label> Time Control </label>
        <input value="{{config.timecontrol}}" name="timecontrol">
        </br>
        <label> Priority </label>
        <input value="0" name="priority">
        </br>
        <label> Throughput </label>
        <input value="1000" name="throughput">
        </br>
        <label> Lower Bound </label>
        <input value="{{config.elolower}}" name="elolower">
        </br>
        <label> Upper Bound </label>
        <input value="{{config.eloupper}}" name="eloupper">
        </br>
        <label> Alpha </label>
        <input value="{{config.alpha}}" name="alpha">
        </br>
        <label> Beta </label>
        <input value="{{config.beta}}" name="beta">
        </br>
        <input type="submit" name="submit" value="Create Engine Test">
    </div>
</form>
{% endblock %}
