{% extends "OpenBench/base.html" %}

{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<form id="registerForm" method="POST" action="/register/">
    {% csrf_token %}
    <label type="text">Username</label>
    <input type="text" name="username"></br>
    <label type="text">Create Password</label>
    <input type="password" name="password1"></br>
    <label type="text">Verify Password</label>
    <input type="password" name="password2"></br>
    <label type="text">Email Address</label>
    <input type="text" name="email"></br>
    <input type="submit" name="submit" value="Create User">
</form>
{% endblock %}
