{% extends "OpenBench/base.html" %}

{% block content %}

    <form id="registerForm" method="POST" action="/register/">
        {% csrf_token %}
        <div class="form">
            <div class="col">
                <div class="row">
                    <label>Username</label><input name="username">
                </div>
                <div class="row">
                    <label>Password</label><input type="password" name="password1">
                </div>
                <div class="row">
                    <label>Password</label><input type="password" name="password2">
                </div>
                <div class="row">
                    <label>Email</label><input name="email">
                </div>
                <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Create User">
            </div>
        </div>
    </form>

{% endblock %}
