{% extends "OpenBench/base.html" %}

{% block content %}

    <form id="registerForm" method="POST" action="/register/">
        {% csrf_token %}
        <form>
            <div class="row">
                <div class="col-6">
                    <label for="username">Username</label> <input class="form-control" id="username" name="username"><br>
                </div>
                <div class="col-6">
                    <label for="email">Email </label> <input class="form-control" id="email" name="email"><br>
                </div>
                <div class="col-6">
                    <label for="password1">Password</label> <input class="form-control" type="password" id="password1" name="password1" autocomplete="off"><br>
                </div>
                <div class="col-6">
                    <label for="password2">Password</label> <input class="form-control" type="password" id="password2" name="password2" autocomplete="off"><br>
                </div>
            </div>
        </form>

        <input class="btn btn-primary" type="submit" name="submit" value="Create User">
    </form>

{% endblock %}
