{% extends "OpenBench/base.html" %}

{% block scripts %}

    function set_default_engine() {
        {% if profile.engine %}
            document.getElementById("engine").value = "{{profile.engine}}";
        {% endif %}
    }

    document.addEventListener(
        'DOMContentLoaded', function () {
            set_default_engine();
        }, false
    );

{% endblock %}

{% block content %}

    {% if not tests %}

        <form method="POST" action="/search/">
            {% csrf_token %}

            <label> Keywords </label> <input name="keywords"><br>
            <label> Author </label> <input name="author"><br>

            <label> Engine </label>
            <select id="engine" name="engine">
                <option selected value="">ALL</option>
                {% for name, data in config.engines.items %}
                    <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select><br>

            <label> Show Greens </label>
            <select name="showgreens">
                <option selected value="True">True</option>
                <option value="False">False</option>
            </select><br>

            <label> Show Yellows </label>
            <select name="showyellows">
                <option selected value="True">True</option>
                <option value="False">False</option>
            </select><br>

            <label> Show Reds </label>
            <select name="showreds">
                <option selected value="True">True</option>
                <option value="False">False</option>
            </select><br>

            <label> Show Stopped </label>
            <select name="showunfinished">
                <option value="True">True</option>
                <option selected value="False">False</option>
            </select><br>

            <label> Show Deleted </label>
            <select name="showdeleted">
                <option value="True">True</option>
                <option selected value="False">False</option>
            </select><br>

            <input type="submit" name="submit" value="Search Tests">

        </form>

    {% endif %}

    <table class="datatable">
        {% for test in tests %}
            {% include "OpenBench/Blocks/testsummary.html" %}
        {% endfor %}
    </table>

{% endblock %}
