{% extends "OpenBench/base.html" %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Name</label><input name="name"><br>
        <label>Weights</label><input name="netfile" type="file"><br>

        <label>Engine</label> <select id="engine" name="engine">
            {% for engine in config.engines %}
                {% if engine == profile.engine %}
                    <option selected value="{{engine}}">{{engine}}</option>
                {% else %}
                    <option value="{{engine}}">{{engine}}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <input type="submit" value="Upload">
    <form>

{% endblock %}
