{% extends "OpenBench/base.html" %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form">
         <div class="col">
            <div class="row">
                <label>Name</label><input name="name">
            </div>
            <div class="row">
                <label>Weights</label><input name="netfile" type="file">
            </div>
            <div class="row">
                <label>Engine</label>
                <select id="engine" name="engine">
                {% for engine in config.engines %}
                    {% if engine == profile.engine %}
                        <option selected value="{{ engine }}">{{ engine }}</option>
                    {% else %}
                        <option value="{{ engine }}">{{ engine }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>


            <input type="submit" class="anchorbutton btn-blue w-100" value="Upload">
        </div>
    </div>




    <form>

{% endblock %}
