{% extends "OpenBench/base.html" %}

{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<form method="POST" action="/editProfile/">
    {% csrf_token %}
    <label>Username</label>
    <input readonly value="{{profile.user.username}}" name="username">
    </br>
    <label>Email</label>
    <input value="{{profile.user.email}}" name="email">
    </br>
    <label>New Password</label>
    <input type="password" name="password1">
    </br>
    <label>New Password</label>
    <input type="password" name="password2">
    </br>
    <label>Source Repo</label>
    <input value="{{profile.repo}}" name="repo">
    </br>
    <input type="submit" name="submit" value="Update Profile">
</form>
{% endblock %}
