{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<div id="configuration">
    <table class="rawtable">
        <tr>
            <td>Dev Branch</td>
            <td>{{test.dev.name}}</td>
        </tr>
        <tr>
            <td>Dev Bench</td>
            <td>{{test.dev.bench}}</td>
        </tr>
        <tr>
            <td>Dev Options</td>
            <td>{{test.devoptions}}</td>
        </tr>
        <tr>
            <td>Dev Protocol</td>
            <td>{{test.dev.protocol}}</td>
        </tr>
        <tr>
            <td>Dev Sha</td>
            <td>{{test.dev.sha}}</td>
        </tr>
        <tr>
            <td>Base Branch</td>
            <td>{{test.base.name}}</td>
        </tr>
        <tr>
            <td>Base Bench</td>
            <td>{{test.base.bench}}</td>
        </tr>
        <tr>
            <td>Base Options</td>
            <td>{{test.baseoptions}}</td>
        </tr>
        <tr>
            <td>Base Protocol</td>
            <td>{{test.base.protocol}}</td>
        </tr>
        <tr>
            <td>Base Sha</td>
            <td>{{test.base.sha}}</td>
        </tr>
        <tr>
            <td>Source Repo</td>
            <td>{{test.source}}</td>
        </tr>
        <tr>
            <td>Opening Book</td>
            <td>{{test.bookname}}</td>
        </tr>
        <tr>
            <td>Time Control</td>
            <td>{{test.timecontrol}}s</td>
        </tr>
        <tr>
            <td>Elo Bounds</td>
            <td>[{{test.elolower}}, {{test.eloupper}}]</td>
        </tr>
        <tr>
            <td>SPRT Bounds</td>
            <td>({{test.lowerllr|twoDigitPrecision}}, {{test.upperllr|twoDigitPrecision}})</td>
        </tr>
        <tr>
            <td>Creation</td>
            <td>{{test.creation|date:'Y-m-d H:i:s'}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{test.author}}</td>
        </tr>
    </table>
</div>

<div id="actions">

    <h2>Actions</h2>
    <a class="anchorbutton" id="approvebutton" href="/approveTest/{{test.id}}/">Approve</a>
    {% if test.finished %}
    <a class="anchorbutton" id="restartbutton" href="/restartTest/{{test.id}}/">Restart</a>
    {% else %}
    <a class="anchorbutton" id="stopbutton" href="/stopTest/{{test.id}}/">Stop</a>
    {% endif %}
    <a class="anchorbutton" id="deletebutton" href="/deleteTest/{{test.id}}/">Delete</a>
    <h4>{{test.dev.name}} vs {{test.base.name}} <a href="{{test|gitDiffLink}}">DIFF</a></h4>
    <pre>{{test|longStatBlock|linebreaksbr}}</pre>

    <form method="POST" action="/editTest/{{test.id}}/">
        {% csrf_token %}
        <label>Priority</label>
        <input value="{{test.priority}}" name="priority"></br>
        <label>Throughput</label>
        <input value="{{test.throughput}}" name="throughput"></br>
        <input type="submit" name="submit" value="Modify">
    </form>
</div>
<br>
<div id="results">
    <table class="datatable">
        <tr>
            <th>User</th>
            <th>Machine</th>
            <th>Updated</th>
            <th>Games</th>
            <th>Win</th>
            <th>Loss</th>
            <th>Draw</th>
            <th>Crash</th>
            <th>Time</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{result.machine.owner}}</td>
            <td>{{result.machine.osname}}</td>
            <td>{{result.updated|date:'Y-m-d H:i'}}</td>
            <td class="numeric">{{result.games}}</td>
            <td class="numeric">{{result.wins}}</td>
            <td class="numeric">{{result.losses}}</td>
            <td class="numeric">{{result.draws}}</td>
            <td class="numeric">{{result.crashes}}</td>
            <td class="numeric">{{result.timeloss}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}