{% extends "OpenBench/base.html" %}

{% load mytags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'copy_text.js' %}?{{ static_version }}"></script>
{% endblock %}

{% block content %}

    <div class="workload-container">

    <div id="config" style="display: block; overflow-x: auto;">
        <table class="test-config left-align wrappable" style="table-layout: auto; width: 100%;">

            <tr><td class="td-label">Author</td><td>{{workload.author|capfirst}}</td></tr>
            <tr><td class="td-label">Creation</td><td class="timestamp">{{workload.creation|date:'U'}}</td></tr>

            <!-- All of the Dev Engine ( or Sole Engine ) information -->
            <tr><td class="td-label">{{dev_text}} Source</td><td><a href="{{workload.dev_repo}}">{{workload.dev_repo}}</a></td></tr>
            <tr><td class="td-label">{{dev_text}} Sha</td><td>{{workload.dev.sha}}</td></tr>
            <tr><td class="td-label">{{dev_text}} Branch</td><td class="branch_name">{{workload.dev.name|prettyName}}</td></tr>
            <tr><td class="td-label">{{dev_text}} Bench</td><td>{{workload.dev.bench}}</td></tr>
            <tr><td class="td-label">{{dev_text}} Network</td><td><a href="{{workload|network_download_link:'dev'}}">{{workload.dev_netname}}</td></tr>
            <tr><td class="td-label">{{dev_text}} Options</td><td>{{workload.dev_options}}</td></tr>
            <tr><td class="td-label">{{dev_text}} Time</td><td>{{workload.dev_time_control}}</td></tr>

            <!-- All of the Base Engine information, which only exists for TESTs -->
            {% if type == "TEST" or type == "DATAGEN" %}
                <tr><td class="td-label">Base Source</td><td><a href="{{workload.base_repo}}">{{workload.base_repo}}</a></td></tr>
                <tr><td class="td-label">Base Sha</td><td>{{workload.base.sha}}</td></tr>
                <tr><td class="td-label">Base Branch</td><td class="branch_name">{{workload.base.name|prettyName}}</td></tr>
                <tr><td class="td-label">Base Bench</td><td>{{workload.base.bench}}</td></tr>
                <tr><td class="td-label">Base Network</td><td><a href="{{workload|network_download_link:'base'}}">{{workload.base_netname}}</td></tr>
                <tr><td class="td-label">Base Options</td><td>{{workload.base_options}}</td></tr>
                <tr><td class="td-label">Base Time</td><td>{{workload.base_time_control}}</td></tr>
            {% endif %}

            {% if workload|book_download_link %}
                <tr><td class="td-label">Opening Book</td><td><a href="{{workload|book_download_link}}">{{workload.book_name}}</a></td></tr>
            {% else %}
                <tr><td class="td-label">Opening Book</td><td><a>{{workload.book_name}}</a></td></tr>
            {% endif %}

            <tr><td class="td-label">Upload PGNs</td><td>{{workload.upload_pgns}}</td></tr>
            <tr><td class="td-label">Syzygy WDL</td><td>{{workload.syzygy_wdl}}</td></tr>
            <tr><td class="td-label">Syzygy ADJ.</td><td>{{workload.syzygy_adj}}</td></tr>
            <tr><td class="td-label">Win ADJ.</td><td>{{workload.win_adj}}</td></tr>
            <tr><td class="td-label">Draw ADJ.</td><td>{{workload.draw_adj}}</td></tr>

            {% if type == "TUNE" %}
                <tr><td class="td-label">Alpha</td><td>{{workload.spsa.Alpha}}</td></tr>
                <tr><td class="td-label">Gamma</td><td>{{workload.spsa.Gamma}}</td></tr>
                <tr><td class="td-label">A-Ratio</td><td>{{workload.spsa.A_ratio}}</td></tr>
                <tr><td class="td-label">Reporting</td><td>{{workload.spsa.reporting_type}}</td></tr>
                <tr><td class="td-label">Distribution</td><td>{{workload.spsa.distribution_type}}</td></tr>
                <tr><td class="td-label">Pairs Per Point</td><td>{{workload.workload_size}}</td></tr>
            {% elif type == "DATAGEN" %}
                <tr><td class="td-label">Genfens Args</td><td>{{workload.genfens_args}}</td></tr>
                <tr><td class="td-label">Play Reverses</td><td>{{workload.play_reverses}}</td></tr>
            {% endif %}

        </table>
    </div>

    <div id="actions" class="ml-3">

        <!-- Dev vs Base [Git Diff Link] -->
        <h4><a href="{{workload|gitDiffLink}}">{{workload|git_diff_text}}</a></h4>

        <div class="anchor-container">

            <!-- Approve Button: For Admins, or Cross-approvers -->
            {% if not workload.approved and profile.approver and profile.user.username != workload.author %}
                <a class="anchorbutton btn-blue" href="/{{type|lower}}/{{workload.id}}/APPROVE">Approve</a>
            {% elif not workload.approved and request.user.is_superuser %}
                <a class="anchorbutton btn-blue" href="/{{type|lower}}/{{workload.id}}/APPROVE">Approve</a>
            {% else %}
                <a class="anchorbutton btn-disabled">Approve</a>
            {% endif %}

            <!-- Restart Button: For Approvers or Workload Authors of finished workloads -->
            {% if workload.finished and profile.approver %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/RESTART">Restart</a>
            {% elif workload.finished and profile.user.username == workload.author %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/RESTART">Restart</a>
            {% elif workload.finished %}
                <a class="anchorbutton btn-disabled">Restart</a>
            {% endif %}

            <!-- Stop Button: For Approvers or Workload Authors of active workloads -->
            {% if not workload.finished and profile.approver %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/STOP">Stop</a>
            {% elif not workload.finished and profile.user.username == workload.author %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/STOP">Stop</a>
            {% elif not workload.finished %}
                <a class="anchorbutton btn-disabled">Stop</a>
            {% endif %}

            <!-- Delete/Restore Button: For Approvers or Workload Authors -->
            {% if profile.approver or profile.user.username == workload.author %}
                {% if workload.deleted %}
                    <a class="anchorbutton btn-preset" href="/{{type|lower}}/{{workload.id}}/RESTORE">Restore</a>
                {% else %}
                    <a class="anchorbutton btn-red" href="/{{type|lower}}/{{workload.id}}/DELETE">Delete</a>
                {% endif %}
            {% else %}
                {% if workload.deleted %}
                    <a class="anchorbutton btn-disabled">Restore</a>
                {% else %}
                    <a class="anchorbutton btn-disabled">Delete</a>
                {% endif %}
            {% endif %}
        </div>

        <!-- Copy Button: Copy the current results statblock -->
        {% if type == "TEST" or type == "DATAGEN" %}
            <div class="anchor-container">
                <a class="mt-1 anchorbutton btn-blue" onclick="copy_text('long-statblock', true)">Copy Stat Block</a>
            </div>
        {% endif %}

        <!-- PGN Download Button -->
        {% if workload.upload_pgns != "FALSE" %}
            <div class="anchor-container">
                <a class="mt-1 anchorbutton btn-blue" href="/api/pgns/{{workload.id}}/">Download PGN Archive</a>
            </div>
        {% endif %}

        <!-- Copies Raw SPSA Input from a hidden element -->
        {% if type == "TUNE" %}
            <div class="anchor-container">
                <pre id="spsa-input" style="display: none">{{workload|spsa_original_input}}</pre>
                <a class="mt-1 anchorbutton btn-blue" onclick="copy_text('spsa-input', false)">Copy SPSA Inputs</a>
            </div>
        {% endif %}

        <!-- Copies SPSA Optimal Values from a hidden element -->
        {% if type == "TUNE" %}
            <div class="anchor-container">
                <pre id="spsa-output" style="display: none">{{workload|spsa_optimal_values}}</pre>
                <a class="mt-1 anchorbutton btn-blue" onclick="copy_text('spsa-output', false)">Copy SPSA Outputs</a>
            </div>
        {% endif %}

        <!-- Elo, (SPRT/LRR if SPRT, otherwise CONF), Games -->
        {% if type == "TEST" %}
            <pre class="long-statblock" id="long-statblock">{{workload|longStatBlock|linebreaksbr}}</pre>
        {% elif type == "TUNE" %}
            <pre class="long-statblock" id="long-statblock">{{workload|shortStatBlock|linebreaksbr}}</pre>
        {% elif type == "DATAGEN" %}
            <pre class="long-statblock" id="long-statblock">{{workload|longStatBlock|linebreaksbr}}</pre>
        {% endif %}

        <!-- Forum to modify the Priority, Throughput, or (Tests only) Workload Size -->
        <form method="POST" action="/{{type|lower}}/{{workload.id}}/MODIFY">
            {% csrf_token %}
            <div class="form">
                <div class="col-full">

                    <div class="row">
                        <label for="priority">Priority</label>
                        <input value="{{workload.priority}}" id="priority" name="priority">
                    </div>

                    <div class="row">
                        <label for="throughput">Throughput</label>
                        <input value="{{workload.throughput}}" id="throughput" name="throughput">
                    </div>

                    {% if type == "TEST" or type == "DATAGEN" %}
                        <div class="row">
                            <label for="workload_size">Workload Size</label>
                            <input value="{{workload.workload_size}}" id="workload_size" name="workload_size">
                        </div>
                    {% endif %}

                    <!-- Edit Button: For Approvers or Test Authors -->
                    {% if profile.approver or profile.user.username == workload.author %}
                        <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Modify">
                    {% else %}
                        <input class="anchorbutton btn-disabled w-100" type="submit" name="submit" value="Modify">
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    <!-- SPSA Paramater Summary, for Tunes -->
    {% if type == "TUNE" %}
        <div id="parameters" class="w-100 mt-3" style="float:left;">
            <table class="stripes wrappable">

                <tr class="table-header">
                    {% for header in workload|spsa_param_digest_headers %}
                        <th> {{ header }} </th>
                    {% endfor %}
                </tr>

                {% for row in workload|spsa_param_digest %}
                    <tr>
                        {% for element in row %}
                            {% if not forloop.first %}
                                <td class='numeric'> {{ element }} </td>
                            {% else %}
                                <td> {{ element }} </td>
                            {% endif %}
                        {% endfor %}
                    <tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div id="results" class="w-100 mt-3" style="float:left;">
        <table class="stripes wrappable">
            <tr class="table-header">
                <th>#</th>
                <th>User</th>
                <th>Updated</th>
                <th style="width: 45px">Games</th>
                <th style="width: 45px">Won</th>
                <th style="width: 45px">Lost</th>
                <th style="width: 45px">Drawn</th>
                <th style="width: 45px">Time</th>
                <th style="width: 45px">Crash</th>
            </tr>

            {% for result in results %}

                <tr {% if result.active %} class="active-highlight" {% endif %}>
                    <td><a href="/machines/{{result.data.machine.id}}">{{result.data.machine.id}}</a></td>
                    <td>{{result.data.machine.user.username|capfirst}}</td>
                    <td class="timestamp">{{result.data.updated|date:'U'}}</td>
                    <td class="numeric">{{result.data.games}}</td>
                    <td class="numeric">{{result.data.wins}}</td>
                    <td class="numeric">{{result.data.losses}}</td>
                    <td class="numeric">{{result.data.draws}}</td>
                    <td class="numeric">{{result.data.timeloss}}</td>
                    <td class="numeric">{{result.data.crashes}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>

{% endblock %}
